:root{
    --blue: #00aeff;
    --dark-gray: #1d1d1d;
    --pink-accent: #ff4081;
}

html{
    
}

body{
    margin: 0;
    min-height: 100vh;
    transition: 200ms ease-in-out;
}

h1, h2, h3{
    cursor: default;
}

header{
    background-color: var(--pink-accent);
    position: sticky;
    top: 0;
    width: 100%;
    height: 5.5em;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    
}

header h1{
    font-family: 'Segoe UI SemiBold';
    margin: 0;
    color: white;
    font-size: 200%;
}

.parallax-container{
    height: 15em;
    width: 100%;
}

.parallax-container h1{
    color: white;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 70vh;
}

main h1{
    font-size: 2.7em;
}

/* Project List*/
section.project-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    margin-top: 3em;
}

.project-list > .preloader-wrapper{
    margin-bottom: 3em;
}

/* ----------- Article ----------------- */
.project-list article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    margin-bottom: 3em;
    max-height: 22em;
    max-width: 58em;
    transition: 300ms ease-in-out;
}

/* ---------- Span de informações do Article -------------- */

/* Título e Descrição */
.project-list article span:nth-child(1){
    text-align: justify;
    margin-right: 2em;
}

.project-list article span:nth-child(1) h3{
    margin-top: 0;
    font-size: 1.8em;
}

.project-list article span:nth-child(1) p{
    height: 9.5em;
    overflow-y: auto;
    font-size: 1.2em;
}

/* ----------- Imagem do Article ----------------- */
.project-list article img{
    height: 18em;
    max-width: 52%;
    border-radius: 0.4em;
}

/* ----------- Footer ----------- */

/*footer{
    width: 100%;
    height: 20em;
    bottom: 0;
    background-color: var(--dark-gray);
    padding: 3em;
}*/

/* -----------  DESKTOP MEDIUM ----------- */
@media only screen and (min-width: 801px) and (max-width: 1800px) {
    
    /* Project List*/
    section.project-list{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 3em;
    }

    .project-list article{
        height: 20em;
        max-width: 70em;
    }

    .project-list article span:nth-child(1) p{
        height: 8em;
    }

    .project-list article img{
        height: 16em;
        max-width: initial;
    }
}


/* -----------  MOBILE ----------- */
@media only screen and (max-width: 800px) {

    /* Header */
    header{

    }

    header{
        font-size: 70%;
    }

    /* Paralax Container */
    .parallax-container{
        height: 10em;
    }

    .parallax-container h1{
        font-size: 200%;
        padding-top: 0.55em;
    }

    /* Project List*/
    section.project-list{
        margin: 4%;
    }


    /* ----------- Article ----------------- */
    .project-list article{
        max-height: initial;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    /* Título e Descrição */
    .project-list article span:nth-child(1){
        margin-bottom: 2em;
        margin-right: 0;
    }

    .project-list article span:nth-child(1) p{
        height: initial;
        max-height: 15em;
        overflow-y: auto;
        font-size: 1.2em;
    }

    /* ----------- Imagem do Article ----------------- */
    .project-list article img{
        height: initial;
        max-width: initial;
        width: 100%;
        border-radius: 0.4em;
    }
}

/* ----------- Generics ----------- */

.shadow-less{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.shadow{
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.5);
}

.shadow-more{
    -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.5);
}

.text-shadow-less{
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.60);
}

.text-shadow{
    text-shadow: 1px 1px 3px black;
}

.text-shadow-more{
    text-shadow: 1px 1px 4px black;
}

.toolbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.toolbar > *{
    margin-right: 1em;
}

.toolbar-inverse{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.toolbar-inverse *{
    margin-right: 1em;
}